.json-table-widget-root .ant-table-tbody > tr > td {
  border-bottom: 1px solid #ececec;
  font-size: 13px;
}
.json-table-widget-root .ant-table-row:hover td {
  background: #e7f1fc !important;
}
.json-table-widget-root .ant-table-thead th {
  background: #f7fafc;
  font-weight: bold;
}
.json-table-widget-root {
  transition: box-shadow .2s;
}
.json-table-widget-root .ant-table-thead > tr > th {
  border-bottom: 2px solid #e0e0e0 !important;
}
.json-table-raw-block {
  background: #f6f8fa;
  color: #182232;
  font-size: 13px;
  border-radius: 7px;
  padding: 14px 12px 14px 15px;
  margin: 10px 0 0 0;
  border: 1px solid #eee;
  white-space: pre;
  overflow-x: auto;
  font-family: 'Fira Mono', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', monospace;
}
.json-table-raw-block.dark {
  background: #181e21;
  color: #d8f4fe;
  border: 1px solid #232c35;
}
